<!-- category bar -->
<div class="container-fluid">
    <div class="container d-flex">
        <div>
            <a (click)="filter('')" href="">
                <img style="width:100px;margin-top:10px;" src="https://img.tatacliq.com/images/i8/437Wx649H/MP000000010584430_437Wx649H_202204040226291.jpeg" alt="img1">
                <h6>All product</h6>
            </a>
        </div>
        <div>
            <a (click)="filter('')" href="">
                <img src="https://img.tatacliq.com/images/i8/437Wx649H/MP000000010584430_437Wx649H_202204040226291.jpeg" alt="img2">
                <h6>All product</h6>
            </a>
        </div>
        <div>
            <a (click)="filter('')" href="">
                <img src="https://img.tatacliq.com/images/i8/437Wx649H/MP000000010584430_437Wx649H_202204040226291.jpeg" alt="img3">
                <h6>All product</h6>
            </a>
        </div>
        <div>
            <a (click)="filter('')" href="">
                <img src="https://img.tatacliq.com/images/i8/437Wx649H/MP000000010584430_437Wx649H_202204040226291.jpeg" alt="img4">
                <h6>All product</h6>
            </a>
        </div>
    </div>
</div>



<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            
            <div *ngFor="let products of filterCategory | filter:'laptop':productName " class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{products.productImage}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{products.productname}}</h5>
                            <!-- Product price-->
                            {{products.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="products/view-product/{{products.id}}">View options</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>