<div>
    <form action="">
        <label for="productId">productId</label>
        <input type="text" id="productId">

        <label for="productName">productName</label>
        <input type="text" id="productId">

        <label for="categoryId">categoryId</label>
        <input type="text" id="categoryId">

        <label for="discription">Discription</label>
        <input type="text" id="discription">

        <label for="price">Price</label>
        <input type="text" id="price">

        <label for="productId">productId</label>
        <input type="text" id="productId">

        <label for="productId">productId</label>
        <input type="text" id="productId">

        <label for="image">Image</label>
        <input type="text" id="image">
    </form>
</div>
